/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ====== COLORS ====== */
:root {
  --background-color: #121214;
  --text-color: #ffffff;
  --background-title-color: #8257e5;
  --emphasis-color: #6833e4;
}

body.maratona {
  --background-color: #ffedd5;
  --text-color: #2d2c2a;
  --background-title-color: #fed7aa;
  --emphasis-color: #995000;
}

/* ====== SCROLLBAR ====== */
::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #27272b;
}

/* ====== LAYOUT ====== */
body {
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-inline: auto;

  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
strong {
  font-family: "Roboto Serif", serif;
}

p,
small {
  font-family: "Roboto", sans-serif;
}

/* ====== HEADER ====== */
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px;
}

header h1 {
  font-size: 1.75rem;

  padding-bottom: 4px;
}

header span {
  color: var(--emphasis-color);

  transition: filter 800ms ease-out;
}

header span:hover {
  filter: brightness(1.35) contrast(1.25);
}

header p {
  font-size: 0.875rem;

  color: var(--text-color);
  opacity: 0.8;
}

/* ====== MAIN ====== */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 48px;
}

.products-section h2 {
  background-color: var(--background-title-color);

  font-size: 1.125rem;
  margin-bottom: 24px;
  padding: 8px 0;
}

.products-section ul {
  text-align: left;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.products-section ul li {
  display: flex;
}

.products-section div {
  flex: 1;
}

.products-section div h3 {
  font-size: 1rem;

  padding-bottom: 8px;
}

.products-section div p {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  width: 225px;

  color: var(--text-color);
  opacity: 0.6;
}

.products-section strong {
  font-size: 1rem;
  line-height: 1.1875rem;

  display: flex;
  column-gap: 4px;

  cursor: pointer;
}

.products-section .points-icon {
  width: 20px;
  height: 20px;
}

/* ====== FOOTER ====== */
footer {
  width: 260px;
  display: flex;

  margin-bottom: 24px;
}

footer small {
  opacity: 0.8;
}

footer #github {
  text-decoration: underline;
}

footer a {
  color: var(--text-color);
}
